 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="container about">
                    <p>M Foundation was up a group of ten friends, all alumni of Malnad College of Engineering (MCE), Hassan, Karnataka, India.</p>

                    <p>The idea and plan of action for M Foundation was hatched over dinner in 2006. The original plan was to set up a corpus and invest it so that the interest gained from the corpus would be used to provide a scholarship to meritorious, but economically disadvantaged students in MCE. The initial plan was to support one male and one female student from each year. This plan was communicated to all like-minded friends. Ten of us heeded the call and M Foundation was formally and legally set up in early 2007. Although the original plan was to help students only in MCE, the trustees felt that financial aid ought to be given to other truly deserving individuals and organizations.</p>

                    <p>By September 2007 we had already given our first scholarship to an individual. In November, we aided a school in Kushalnagar (Kodagu) and in December 2007 we gave the M Foundation scholarships to the first batch of students in MCE. Over the years, we have added to our activities in MCE by initiating a cash award to STUDENT OF THE YEAR and also introducing scholarships to children of Class IV employees of the our alma mater. We have increased our reach outside of MCE and have sponsored/aided many deserving individuals and institutions. As of February 2017, we have disbursed over 55 lakh Rupees to multiple individuals and institutions.</p>

                    <p><b>DONATIONS TO M FOUNDATION ARE ELIGIBLE FOR TAX DEDUCTION UNDER INCOME TAX ACT 80G</b></p>
                </div>

            </div>
        </div>
    </section>