<!-- Beneficiaries Section -->
    <section id="beneficiaries">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Beneficiaries</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle text-centered" src="/img/vijay.jpg" width="250px">
                    <p class="text-centered"><b>VIJAY HOLLA</br>CLASS OF ’16 - MECHANICAL</br></b></p>
                </div>
                <div class="col-lg-7">
                    <b class="comment text-centered">M FOUNDATION  - Scholarship Student at RVCE</b>
                    <p>Pursuing engineering in a reputed college was my dream. As I was from a middle-class family, and because my parents had several other commitments, arranging finance for my studies (engineering in a good college) was a worry. At the end of my Diploma, I got to know about M Foundation and I got more motivated to work even harder to secure a seat in my dream college as I received assurance of financial support from M Foundation. My parents did not have to worry for arranging college fees for their son now. I could fully focus on my studies and career as I didn't have the burden of arranging finance. I did multiple projects, attended few conferences and received job offers from two companies with appreciable package.</br>
                    Yes. I would not have accomplished all these without the M Foundation support! I am ever grateful for your help.  They are doing a great job by helping less privileged students like me to make their dream come true. 
                    Thank you very much.</br>
                    Now I am working in M/S. Atlas Copco as design engineer (from July 16)</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <div class="row">
                <div class="col-lg-1"></div>
                    <div class="col-lg-10 text-centered">
                        <b class="comment">M FOUNDATION IS PROUD TO REPORT THAT VIJAY HOLLA HAS RETURNED THE ENTIRE SCHOLARSHIP AMOUNT BACK TO THE FOUNDATION, SO THAT IT CAN BE USED TO BENEFIT OTHER STUDENTS!</b>
                    <div class="col-lg-1"></div>
                </div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <b class="comment text-centered">M FOUNDATION  - Best Outgoing Student Award - 2010</b>
                    <p>It was a great honour to receive the M foundation scholarship amidst competition for it in my batch.</br>
                    After graduation, I worked for Infosys Ltd. for two years (2010-12).<br>
                    I pursued my MBA in Marketing from PESIT, Bangalore (2012-14).<br>
                    Now I am part of a housing finance company by name HFFC (HOME FIRST FINANCE COMPANY INDIA PVT. LTD.) where I took up the challenge of sales, then did marketing for the company and now servicing.<br>
                    I utilized the M - Foundation scholarship during my post graduation. It was a good motivator for me and I am sure that it is helping and will continue to help the best student every year in their future</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/deepika.jpg" width="250px">
                    <p class="text-centered"><b>DEEPIKA K S </br> CLASS OF ’10 - E & C</br></b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/srinidhi.jpg" width="250px">
                    <p class="text-centered"><b>SRINIDHI K V </br>CLASS OF ’16 – MECHANICAL</b></p>
                </div>
                <div class="col-lg-7">
                    <b class="comment text-centered">M FOUNDATION  - Annual Scholarship 2013-2016 (4 years)</b>
                    <p>As one of the beneficiaries of the M Foundation scholarship, I want to thank you for you supported us morally as well as economically. And the inspirational and encouraging speech in the programs helped us in many ways.<br>
                    After graduating last year, I am pursuing an internship in "Mercedes Benz Research & Development India" from July. Initially I got the internship opportunity for six months and now it has been extended for three more months. So, I am hoping now that I will be able to get a job here itself.<br>
                    <u>2016-17 (July16 to March17) - Student Trainee</u> - Worked on two projects under truck's Rear Axle (Planetary gear set) and Turning Radius Calculation.<br>
                    I am looking forward to connect with all our alumni.</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <b class="comment text-centered">M FOUNDATION  - Annual Scholarship 2011-2014 (4 years)</b>
                    <p>I am very thankful to M Foundation and Jayantha sir.<br>
                    As I was from rural background and my family was economically backward, M Foundation scholarship has helped me a lot in buying books, study materials and paying room rents while I was studying. It would have been difficult for my family to support my education without this scholarship.<br>
                    I am very happy to share with you that, even before my graduation I had two offers in my hand, one from SPAN InfoTech Bangalorewith a starting salary of Rupees 2.5 lakhs per annum and another from Tejas Networks Bangalore with a salary of Rupees 5.5 lakhs per annum.<br>
                    From my graduation until today I am working in Tejas Networks Company with their product verification team. I am very happy with my position in the company and also am able to support my family economically.</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/sharath.jpg" width="250px">
                    <p class="text-centered"><b>SHARATH BABU J S</br>CLASS OF ’14 - E & C</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/abhishekh.jpg" width="250px">
                    <p class="text-centered"><b>ABHISHEKH K T</br>CLASS OF ’13 – E & C</b></p>
                </div>
                <div class="col-lg-7">
                    <b class="comment text-centered">M FOUNDATION - Scholarship Student at Rajiv Gandhi Institute of Technology</b>
                    <p>A big thanks​ to M Foundation.<br>
It is always a great pleasure when you have someone who helps you morally and financially, and I am glad that I had one. M Foundation helped me a lot during my Engineering days as I am from an economically weak family.<br>
After completing my Engineering, I worked at Software Paradigms Infotech Pvt Ltd, Mysore, as Software Engineer for 3 years. Currently I am working in State Bank of India as an Assistant IT Manager.<br>
M Foundation, thank you again, for your support which has helped me to shape up my career.</p>
                </div>
                <div class="col-lg-1"></div>
            </div>


        </div>
    </section>