 <!-- About Section -->
    <section class="success" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            <div class="col-lg-1"></div>
                <div class="container projects">
                    <div class="align-center"><img src="/img/graph.jpg"></div>
                    <div>
                    <h3>Our yearly commitments are as follows</h3>
                    <p>
                        <b>Malnad College of Engineering, Hassan</b>
                        <li>SCHOLARSHIP OF RUPEES 15,000 FOR 8 ECONOMICALLY BACKWARD STUDENTS (ONE GIRL AND ONE BOY) FROM EACH OF THE FOUR YEARS<br> – RUPEES 1.2 LAKHS/YEAR</li>
                        <li>STUDENT OF THE YEAR AWARD OF RUPEES 15,000 (ONE BOY AND ONE GIRL) FROM THE FINAL YEAR<br> - RUPEES 30,000/YEAR</li>
                        <li>EDUCATIONAL SCHOLARSHIPS FOR CHILDREN OF GRADE 4 EMPLOYEES<br> -  RUPEES 50,000/YEAR</li></p>
                        <p><b>Women's National Education Society, Mangalore</b>
                        <li>UNIFORMS FOR ALL STUDENTS – IN EXCESS OF RUPEES 50,000 PER YEAR</li><br></p>

                    <h3>We have also given financial aid to many institutions and organizations such as</h3>
                        <p><li>AL HASAN EDUCATION TRUST, MANGALORE</li>
                        <li>CONCERNED FOR WORKING CHILDREN, KUNDAPURA</li>
                        <li>GOVERNMENT SCHOOL, KUSHALNAGAR</li>
                        <li>ZILLA PARISHAD PRIMARY SCHOOL, KOLKEBAIL</li>
                        <li>HIGHER PRIMARY SCHOOL, KUNJAR</li>
                        <li>ZILLA PARISHAD LOWER PRIMARY SCHOOL, MOODEKERE</li>
                        <li>LOWER PRIMARY SCHOOL, PERMUDE</li>
                        <li>SREE CAUVERY COLLEGE, GONIKOPPA</li>
                        <li>M V COLLEGE OF ENGINEERING, HASSAN</li>
                        <li>KARNATAKA WHEELCHAIR ASSOCIATION</li>
                        <li>ST GEORGE HIGH SCHOOL, MANGALORE</li>
                        <li>HIMALAYAN VILLAGES EDUCATION & DEVELOPMENT PROGRAM, RANIKHET, UTTARAKHAND</li>
                        <li>GOVERNMENT SCHOOL, SHIRIHARA</li>
                        <li>NAVA JEEVAN MARG – ANGANWADI WORKERS TRAINING CENTRE, MANGALORE</li></p>

<p>Over the years we have given more than 70 scholarships to economically backward students to complete their studies in various disciplines such as Engineering, Law, Nursing, Science, Arts and Commerce</p>
                </div>
                </div>
            <div class="col-lg-1"></div>
            </div>
        </div>
    </section>