<!-- Trustees Section -->
    <section id="trustees">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Trustees</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle text-centered" src="/img/kalappa.jpg" width="250px">
                    <p class="text-centered"><b>N A KALAPPA</br>CLASS OF ’80 - MECHANICAL</b></p>
                </div>
                <div class="col-lg-7">
                    <p>The “de facto chairman” of M Foundation, Kalappa has been managing the foundation affairs since its inception, including using his office as the HQ of M Foundation.</br>
                    After leaving MCE, Kalappa joined CNK Constructions, a private civil construction company. Here he was involved in the construction of buildings and irrigation canals in the Upper Krishna Project. 
                    He left CNK Constructions in 1982 and started his own company called Kiran Constructions. He has completed many projects all around Karnataka, most notably;

                    <li>Ramanashree Comforts Resorts, Yelahanka</li>
                    <li>Johan Cruyff Educational Centre – Hosur</li>
                    <li>Navodaya Vidhyalaya – Madikeri and Hebri</li></br>

                    <p>Now retired, he lives in Bangalore and his office is still the meeting point for a lot of MCE Alumni.</p></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <p>After MCE, Imtiaz moved to Saudi for a short stint and then to US and pursued Masters in EE at Polytechnic Institute of NY (Now NYU Tandon School of Engineering)</br>
                    Imtiaz has worked at many companies IBM, Mentor Graphics, Conexant, Skyworks and Broadcom at various locations in the US.</br>
                    He is currently the DFT (Design for Test) lead of RFIC group at Qualcomm, San Diego, driving the DFT methodology for WTR (wireless Transceiver) projects.</br>
                    Beside work Imtiaz is into outdoor activities and photography (Nature, Macro and wildcats).Originally from Hassan Imtiaz now lives with his family in Southern California.</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/pic01.jpg" width="250px">
                    <p class="text-centered"><b>IMTIAZ AHMED </br> CLASS OF ’80 - E & C</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/shetty.jpg" width="250px">
                    <p class="text-centered"><b>SHIVPRASAD SHETTY</br>CLASS OF ’81 – E & C</b></p>
                </div>
                <div class="col-lg-7">
                    <p>Shivaprasad Shetty a.k.a SPS, from the batch of 1981 worked as a trainee engineer at Kirloskar Electric Company Ltd, Bangalore. He then worked for few years in Hegde & Golay Ltd and then started his entrepreneurial journey in 1986.</br>
                    SPS has been dabbling in quite a few fields and ventures. In between he was an active politician, being the General Secretary of Karnataka State Yuva Janata Dal and General Secretary of the KPCC Kisan Cell, Karnataka. Settled in Delhi for the last twenty years, he is an organic farmer and a publisher.  SPS is an avid art collector he also speculates in real estate in the National Capital Region</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <p>After completing his engineering Sundresh completed MBA at University of Saskatchewan, Saskatoon, Canada in 1985 and Ph.D in Industrial Engineering at University of Manitoba, Winnipeg, Canada in 1988.
                    Dr. Heragu is known world-wide for his contributions to industrial engineering. His textbook titled "Facilities Design", now in its fourth edition, has been used at the top Universities in the world.</br>
                    He has taught at State University of New York, Plattsburgh and held visiting appointments at State University of New York, Buffalo, Technical University of Eindhoven and University of Twente in the Netherlands.</br>
                    At present Sundresh is the Regents Professor, Donald and Cathey Humphreys Chair and Head of the School of Industrial Engineering and Management at Oklahoma State University.</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/heragu.jpg" width="250px">
                    <p class="text-centered"><b>DR. SUNDERESH S HERAGU</br>CLASS OF ’82 - MECHANICAL</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/pic04.jpg" width="250px">
                    <p class="text-centered"><b>RIAZ TALKHANI</br>CLASS OF ’82 - MECHANICAL</b></p>
                </div>
                <div class="col-lg-7">
                    <p>After completing two years in MCE. Talkhani moved to JCE, Mysore from where he graduated. But he has not lost contact with MCE and takes major interest in the activities of M Foundation. </br>
                    After completing his degree he moved to Saudi Arabia and joined Yusuf Bin Ahmed Kanoo, in the Power & Industrial Projects Division.  One of the highly reputed engineering solution providers in the Arabian Peninsula, it offers mainstream solutions to Aviation industry, Power generation plants, Desalination plants & Cement industry and other large manufacturing and process industries..</br>
                    Riyaz Talkhani is working as a Business Development Manager for the Gulf region based out of Jeddah, Saudi Arabia.</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <p>After completing two years at MCE, he took a transfer to NIE, Mysore, from where he graduated. But he has not lost contact with MCE and takes major interest in the activities of M Foundation.</br>
                    On completion of his degree he started his career in 1982 with Shaw Wallace & Co Ltd as a marketing engineer and worked for eight years in that organization.
In 1991 he joined the then Karnataka Electricity Board (KEB), Bangalore as an Assistant Engineer and presently working as Executive Engineer, BESCOM, Malleswaram Division, Bangalore. He has won many awards of excellence for his outstanding performance.</br>
He is also a progressive farmer involved in organic farming.  He lives with his wife and two children in Bangalore</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/lakshminarayan.png" width="250px">
                    <p class="text-centered"><b>LAKSHMINARAYAN</br>CLASS OF ’82 – ELECTRICAL</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/pic06.jpg" width="250px">
                    <p class="text-centered"><b>RAVI SHANKER MURTHY</br>CLASS OF ’83 - MECHANICAL</b></p>
                </div>
                <div class="col-lg-7">
                    <p>After completing engineering Ravi joined Kudremukh Iron Ore Company Ltd thru campus interview in Feb 84. After a year he joined ONGC at Hazira, in Gujrat and worked there for 9 years till 1993.</br>
                    He then joined KTI as construction manager at the Mangalore Refinery project site. He has been working in the same organization till date.  KTI is now known as Technip FMC.</br>
                    During his 32 year career he has worked over 15 locations in India.</br>
                    Born and brought up in Mangalore he is a passionate reader with a personal collection of over 1500 books</br>
                    Presently Ravi is designated as Associate Vice President (Construction)
</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <p>After completing engineering Harin joined HPCL as a marketing trainee in 1984 and was based in Mumbai. In 1985 he joined ONGC as a Driller and worked on oil rigs in Gujarat and Rajasthan.</br>
                    In 1988 Harin joined Schlumberger and continued to work with then for 23 years in different positions both in the field and in the corporate functions.</br>
                    In 2011 Harin left took early retirement from Schlumberger and decided to pursue a MA in Education from Azim Premji University in Bangalore.</br>
                    On completion of his MA in 2013 he consulted with a NGO in his home town Hattangady, near Kundapura and was involved in both administration and pedagogical activities. At present he lives in Shirali (in Uttara Kannada Dist) and is involved in vocational training of school children</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/pic07.jpg" width="250px">
                    <p class="text-centered"><b>HARIN HATTANGADY</br>CLASS OF ’83 - MECHANICAL</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/harsha.jpg" width="250px">
                    <p class="text-centered"><b>HARSHA GURUKAR</br>CLASS OF ’83 - E & C</b></p>
                </div>
                <div class="col-lg-7">
                    <p>Harsha Gurukar, originally from Bangalore joined MCE in 1977, continued on as lecturer in the E&C department and left for the US in 1985 to purse graduate studies in Computer Science at Monmouth University.</br>
                    He held various academic and administrative positions at Monmouth University through 1996 before joining Lucent Bell Labs as Member of Technical Staff. In 2006, changed gears from supporting computing for telecommunication research to pharmaceutical research at Merck & Co.</br>
                    Harsha currently leads the High Performance Computing department supporting Merck Research Labs and resides in New Jersey with his family.</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <hr>

            <div class="row profile">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    <p>After completing his engineering Prapanch joined TATA Electronics Development Services, Bangalore in 1985
In 1990 he joined Hewlett Packard India PVT LTD., (1990 - 1992) following which he worked with General Electric (USA)Health Care Division (1992-1999).</br>
In 1999 he became a Business Entrpreneur and Started supply chain consulting firm to support small and medium Indian vendors to export to global buyers and Introduced AAA Paper product to Indian Customers for the first time in 2002 to change from Wooden packing to Paper packing.</br>
In 2006, Prapanch started ONE TO ONE tuitions using Japanese technology to support weak students to learn better after school.</br>
Presently he stays in Bangalore and is a Director Ficus Pax Pvt Ltd.,</p>
                </div>
                <div class="col-lg-3">
                    <img class="img-circle" src="/img/prapanch.png" width="250px">
                    <p class="text-centered"><b>PRAPANCH MANDANA</br>CLASS OF ’84 - E & C</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>

        </div>
    </section>