
    <!-- Vision Section -->
    <section id="vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Vision</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <p class="large text-centered">Paying back society to the best of our abilities by:</p>
                <ul class="text-centered list">
                    <li>Sponsoring economically backward students.</li>
                    <li>Recognizing and rewarding all-round performance.</li>
                    <li>Helping to improve infrastructure of educational institutions in economically disadvantaged locales.</li>
                </ul>
            </div>
        </div>
    </section>
